In [64]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint
import json

# Import API key
from api_keys import g_key

In [65]:
#configure gmaps

gmaps.configure(api_key = g_key)

#retrieve WeatherPy dataframe

weather_df = pd.read_csv("../WeatherPy/weather_data.csv")
weather_df

,City,Longitude,Latitude,Max Temperature (°C),Humidity,Cloudiness,Wind Speed,Country,Weather,Date,Sunrise,Sunset
0,Arraial do Cabo,-42.0278,-22.9661,26.98,69,20,5.14,BR,Clouds,1657386959,1657358958,1657397816
1,Jamestown,-79.2353,42.0970,25.85,46,0,4.63,US,Clear,1657386959,1657360174,1657414462
2,Gazojak,61.4036,41.1875,29.26,15,0,5.08,TM,Clear,1657386959,1657326583,1657380539
3,Swarzędz,17.0850,52.4129,21.61,67,20,5.66,PL,Clouds,1657386960,1657334419,1657393978
4,Rapid Valley,-103.1463,44.0625,37.24,56,0,8.23,US,Clear,1657386960,1657365507,1657420607
...,...,...,...,...,...,...,...,...,...,...,...,...
580,Bandarbeyla,50.8122,9.4942,26.73,62,64,13.07,SO,Clouds,1657387071,1657333336,1657378870
581,Idlib,36.6339,35.9306,25.56,53,0,6.98,SY,Clear,1657386945,1657333461,1657385552
582,Nybro,15.9071,56.7446,19.58,38,38,4.86,SE,Clouds,1657386775,1657333040,1657395923
583,Itaberaba,-40.3069,-12.5275,24.34,64,95,3.19,BR,Clouds,1657386888,1657357411,1657398538
584,Taseyevo,94.8978,57.2169,16.68,68,98,0.60,RU,Clouds,1657387071,1657400328,1657463532

In [66]:
#Create Heatmap for humidity using WeatherPy dataframe

places = weather_df[["Latitude","Longitude"]]
humidity = weather_df["Humidity"]
max_intensity = humidity.max()

fig = gmaps.figure(zoom_level = 2, center = [0,0])

heat_layer = gmaps.heatmap_layer(places, weights = humidity, max_intensity = 100, point_radius = 10)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

Figure above shows that humidity is hiest near to the coast.

# Ideal Conditions

In [67]:
#set ideal conditions
hot = 30
cold = 24
windspeed1 = 6
windspeed2 = 4
clouds = 0

ideal_df = weather_df[weather_df["Max Temperature (°C)"]<hot]
ideal_df = ideal_df[ideal_df["Max Temperature (°C)"]>cold]
ideal_df = ideal_df[ideal_df["Wind Speed"]<windspeed1]
ideal_df = ideal_df[ideal_df["Wind Speed"]>windspeed2]
ideal_df = ideal_df[ideal_df["Cloudiness"]==clouds]
ideal_df

,City,Longitude,Latitude,Max Temperature (°C),Humidity,Cloudiness,Wind Speed,Country,Weather,Date,Sunrise,Sunset
1,Jamestown,-79.2353,42.0970,25.85,46,0,4.63,US,Clear,1657386959,1657360174,1657414462
2,Gazojak,61.4036,41.1875,29.26,15,0,5.08,TM,Clear,1657386959,1657326583,1657380539
175,Saint-François,3.9054,46.4154,26.69,41,0,5.14,FR,Clear,1657386993,1657339266,1657395458
181,Gardiner,-69.7753,44.2301,26.19,45,0,5.14,US,Clear,1657386994,1657357458,1657412637
185,Chardara,67.9692,41.2547,25.89,28,0,4.57,KZ,Clear,1657386995,1657324994,1657378977
191,Tākestān,49.6959,36.0696,27.07,37,0,5.08,IR,Clear,1657386996,1657330302,1657382441
278,La Rioja,-2.5000,42.2500,29.88,25,0,4.21,ES,Clear,1657387013,1657341718,1657396082
292,Salou,1.1416,41.0766,29.47,53,0,4.63,ES,Clear,1657387016,1657341074,1657394977
317,Saint Anthony,-93.2180,45.0205,27.80,57,0,5.14,US,Clear,1657387021,1657362912,1657418436
501,Ţalkhā,31.3779,31.0539,28.19,48,0,4.52,EG,Clear,1657387057,1657335463,1657386073
536,Truckee,-120.1833,39.3280,25.05,37,0,5.14,US,Clear,1657387063,1657370531,1657423761

In [68]:
reduced_ideal = ideal_df[["City", "Longitude", "Latitude", "Country"]]

reduced_ideal.reset_index(drop = True, inplace=True)

reduced_ideal

              City  Longitude  Latitude Country
0        Jamestown   -79.2353   42.0970      US
1          Gazojak    61.4036   41.1875      TM
2   Saint-François     3.9054   46.4154      FR
3         Gardiner   -69.7753   44.2301      US
4         Chardara    67.9692   41.2547      KZ
5         Tākestān    49.6959   36.0696      IR
6         La Rioja    -2.5000   42.2500      ES
7            Salou     1.1416   41.0766      ES
8    Saint Anthony   -93.2180   45.0205      US
9           Ţalkhā    31.3779   31.0539      EG
10         Truckee  -120.1833   39.3280      US

In [69]:
reduced_ideal["Hotel Name"] = ""
reduced_ideal["Hotel Rating"] = ""
reduced_ideal["Hotel Address"] = ""
reduced_ideal

C:\Users\calum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\calum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\calum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,City,Longitude,Latitude,Country,Hotel Name,Hotel Rating,Hotel Address
0,Jamestown,-79.2353,42.0970,US,,,
1,Gazojak,61.4036,41.1875,TM,,,
2,Saint-François,3.9054,46.4154,FR,,,
3,Gardiner,-69.7753,44.2301,US,,,
4,Chardara,67.9692,41.2547,KZ,,,
5,Tākestān,49.6959,36.0696,IR,,,
6,La Rioja,-2.5000,42.2500,ES,,,
7,Salou,1.1416,41.0766,ES,,,
8,Saint Anthony,-93.2180,45.0205,US,,,
9,Ţalkhā,31.3779,31.0539,EG,,,
10,Truckee,-120.1833,39.3280,US,,,

In [74]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {"radius": 5000,
         "keyword": "hotel",
         "type": "lodging",
         "key": g_key}

for index, row in reduced_ideal.iterrows():
    lat = row["Latitude"]
    long = row["Longitude"]
    
    params["location"] = f"{lat},{long}"
    
    hotel_name = requests.get(base_url, params=params).json()
    
    
    try:
        reduced_ideal.loc[index, "Hotel Name"] = hotel_name["results"][0]["name"]
        reduced_ideal.loc[index, "Hotel Rating"] = hotel_name["results"][0]["rating"]
        reduced_ideal.loc[index, "Hotel Address"] = hotel_name["results"][0]["vicinity"]
    except (KeyError, IndexError):
        pass

C:\Users\calum\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [75]:
reduced_ideal

,City,Longitude,Latitude,Country,Hotel Name,Hotel Rating,Hotel Address
0,Jamestown,-79.2353,42.0970,US,Chautauqua Harbor Hotel,4.6,"10 Dunham Ave, Celoron"
1,Gazojak,61.4036,41.1875,TM,Cedar House Sport Hotel,4.7,"10918 Brockway Rd, Truckee"
2,Saint-François,3.9054,46.4154,FR,Maison Vin d'Hus,5.0,"1 Les Gognauds, Le Pin"
3,Gardiner,-69.7753,44.2301,US,The Stone Turret,4.6,"17 Lincoln Ave, Gardiner"
4,Chardara,67.9692,41.2547,KZ,Жанаргул,5.0,"6XXC+QX2, Shardara"
5,Tākestān,49.6959,36.0696,IR,Khorshid Hotel,3.8,"Takestan, Imam Khomini St, 3M5P+VR3"
6,La Rioja,-2.5000,42.2500,ES,Casas de Velilla,4.7,"C. del Puente, 19A, Velilla"
7,Salou,1.1416,41.0766,ES,Mercure Atenea Aventura,4.1,"Av. de Ramon d'Olzina, 52, Vila-seca"
8,Saint Anthony,-93.2180,45.0205,US,LivINN Hotel Minneapolis North/Fridley,3.9,"5201 NE Central Ave, Fridley"
9,Ţalkhā,31.3779,31.0539,EG,Mansoura University Hotel,3.5,شارع الجمهورية،بجوار جامعه المنصوره، موازي لكو...
10,Truckee,-120.1833,39.3280,US,Truckee Donner Lodge,4.1,"10527 Cold Stream Rd, Truckee"

In [77]:
reduced_ideal.to_csv("../VacationPy/Hotels_Output.csv")

In [88]:
 # NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in reduced_ideal.iterrows()]
locations = reduced_ideal[["Latitude", "Longitude"]]

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))